<div
  class="form d-flex vh-100 justify-content-center align-items-center form-register"
>
  <div
    class="container h-50 shadow-lg bg-white container-register wrapper-register w-25"
  >
    <app-alert></app-alert>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <div class="row mt-5">
        <div class="col-12">
          <div class="form-group">
            <label for="usr">{{ 'Login.' + 'username' | translate }}:</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [placeholder]="'Login.' + 'phUsername' | translate"
              required
              [(ngModel)]="customer.username"
              #username="ngModel"
            />
            <div
              [hidden]="username.valid || username.pristine"
              class="text-danger"
            >
              {{ 'Login.' + 'emptyUsername' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <div class="form-group">
            <label for="pass">{{ 'Login.' + 'pass' | translate }}:</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [placeholder]="'Login.' + 'phPass' | translate"
              [(ngModel)]="customer.password"
              required
              #password="ngModel"
            />
            <div
              [hidden]="password.valid || password.pristine"
              class="text-danger"
            >
              {{ 'Login.' + 'emptyPass' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-8">
          <input
            class="btn btn-primary btn-block mb-4"
            type="submit"
            [value]="'Register.' + 'register' | translate"
            [disabled]="!registerForm.form.valid"
          />
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-5 text-center">
          <p>
            <a
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              >{{ 'Register.' + 'login' | translate }}</a
            >
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
