<div class="container w-50 shadow-lg rounded p-3">
  <div
    #alertChild
    class="alert alert-success alert-dismissible fade show position-fixed"
    role="alert"
    id="alertShow"
    style="z-index: 5; right: 0; top: 100px; display: none"
  >
    <strong>Thêm sản phẩm thành công!</strong>
    <button (click)="hide()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Tên sản phẩm</label>
      <input
        type="text"
        class="form-control"
        id="nameItem"
        required
        name="name"
        [(ngModel)]="item.name"
        placeholder="nhập tên sản phẩm"
        #name="ngModel"
      />
    </div>
    <div [hidden]="name.valid || name.pristine" class="text-danger">
      tài khoản không được trống
    </div>
    <div class="form-group">
      <label for="price">Giá</label>
      <input
        type="number"
        class="form-control"
        id="price"
        required
        step="10000"
        min="1000"
        name="price"
        [(ngModel)]="item.price"
        placeholder="nhập giá"
        #price="ngModel"
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">
      Thêm Item
    </button>
  </form>
</div>
