<div class="container w-50 shadow-lg rounded p-3 mt-3">
  <app-alert></app-alert>
  <form (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">
        {{ 'AddItem.' + 'name' | translate }}
      </label>
      <input
        type="text"
        class="form-control"
        id="nameItem"
        required
        name="name"
        [(ngModel)]="item.name"
        [placeholder]="'AddItem.' + 'phName' | translate"
        #name="ngModel"
      />
    </div>
    <div [hidden]="name.valid || name.pristine" class="text-danger">
      {{ 'AddItem.' + 'emptyName' | translate }}
    </div>
    <div class="form-group">
      <label for="price">{{ 'AddItem.' + 'price' | translate }}</label>
      <input
        type="number"
        class="form-control"
        id="price"
        required
        step="10000"
        min="1000"
        name="price"
        [(ngModel)]="item.price"
        placeholder="nhập giá"
        #price="ngModel"
      />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">
      {{ 'AddItem.' + 'btn' | translate }}
    </button>
  </form>
</div>
