<div
  class="form d-flex vh-100 justify-content-center align-items-center form-login"
>
  <div
    class="container d-flex h-75 justify-content-center align-items-center shadow-lg p-3 mb-5 bg-white container-login"
  >
    <div class="row">
      <div class="col-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-7">
        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <div class="form-group">
              <label for="usr">Username:</label>
              <input type="text" class="form-control" [(ngModel)]="username" />
              <p
                class="text-danger ml-2"
                *ngIf="username == ''; else usernameHopLe"
              >
                Chưa nhập username
              </p>
              <ng-template #usernameHopLe
                ><p class="text-success ml-2">username hợp lệ</p></ng-template
              >
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <div class="form-group">
              <label for="pass">Password:</label>
              <input
                type="text"
                name=""
                class="form-control"
                [(ngModel)]="password"
              />
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="mb-2 col-8 float-left">
            <a href="#">Forgot password?</a>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-8">
            <input
              class="btn btn-primary btn-block mb-4"
              type="submit"
              value="SIGN IN"
              (click)="onLogin()"
            />
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 text-center">
            <p>Not a member? <a href="#!">Register</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
