<div class="container container-header" style="position: relative">
  <app-alert></app-alert>
  <h2 class="text-bold mt-2" style="font-family: 'Pacifico', cursive">
    {{ 'Home.' + 'titleAllItem' | translate }}
  </h2>
  <div class="row">
    <div class="col-lg-3 mt-2" *ngFor="let item of items">
      <div class="card mt-2 card-item" style="width: 15rem">
        <!-- tag new -->
        <div class="tag-new">
          <div class="tag-new_body">new</div>
          <div class="tag-new_bottom"></div>
        </div>
        <!-- end -->
        <img
          class="card-img-top"
          src="https://bizweb.dktcdn.net/100/287/440/files/ao-thun-den-streetwear-nen-mua.png?v=1602830750385"
          alt="Card image cap"
        />
        <div class="card-body p-0">
          <h5 class="card-title pt-3 pl-3">{{ item.name }}</h5>
          <p class="card-text pl-3 font-weight-bold">
            {{ item.price | currency : 'VND' }}
          </p>
          <a
            class="btn btn-item btn-animation"
            (click)="onAddToCart({ id: item.id })"
            >{{ 'Home.' + 'btnAddToCart' | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
