<div
  class="container shadow-lg p-5 mt-3 bg-white rounded"
  *ngIf="orderDetails.length > 0"
>
  <app-confirm-model
    [title]="'xác nhận đơn hàng'"
    (onClickFirm)="onChangeStatus()"
  ></app-confirm-model>
  <div class="row h-25 pb-2 border-bottom m-2 header">
    <div>
      {{ 'OrderDetailsAdmin.' + 'person' | translate }}:
      <span>{{ order.customerDto.username }}</span>
    </div>
    <div class="ml-5">
      {{ 'OrderDetailsAdmin.' + 'date' | translate }}:
      <span>{{ order.orderDate | date : 'dd/MM/yyyy' }}</span>
    </div>
    <div class="ml-5">
      {{ 'OrderDetailsAdmin.' + 'total' | translate }}:
      <span>{{ totalPrice | currency : 'VND' }}</span>
    </div>
    <div class="" style="margin-left: 100px">
      {{ 'OrderDetailsAdmin.' + 'status' | translate }}:
      <span>{{ order.status === 0 ? 'Pending' : 'Done' }}</span>
    </div>
    <button
      *ngIf="order.status === 0"
      class="btn btn-outline-danger ml-5"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      {{ 'OrderDetailsAdmin.' + 'btn' | translate }}
    </button>
  </div>
  <div class="row">
    <div class="w-100 m-2" *ngFor="let orderDetail of orderDetails">
      <div class="row orderCart border-bottom d-flex align-items-center">
        <div class="col-2">
          <img
            src="https://bizweb.dktcdn.net/100/287/440/files/ao-thun-den-streetwear-nen-mua.png?v=1602830750385"
            alt="dongho"
            class="img_orderdetail"
          />
        </div>
        <div class="col-4 font-weight-bold">
          <span>{{ orderDetail.itemDto.name }}</span>
        </div>

        <div class="col-4">
          <span>{{ orderDetail.itemDto.price | currency : 'VND' }}</span>
        </div>
        <div class="col-2">x{{ orderDetail.quantity }}</div>
      </div>
    </div>
  </div>
</div>
