<div
  class="container-fluid container_homeAdmin vh-100"
  style="background-color: #f7f7f7"
>
  <div class="row vh-100">
    <div class="col-lg-2 border-right container-left">
      <!-- test -->
      <div class="container-dropdow">
        <div class="btn-dropdown" (click)="toggle()">
          <i class="bi bi-shop"></i>
          <span>{{ 'HomeAdmin.' + 'product' | translate }}</span>
          <i class="bi bi-caret-right-fill icon-drop" #icondrop></i>
        </div>
        <div class="sub-menu" #submenu>
          <div class="sub-item" [routerLink]="['/homeAdmin/item']">
            {{ 'HomeAdmin.' + 'listProduct' | translate }}
          </div>
          <div class="sub-item" [routerLink]="['/homeAdmin/addItem']">
            {{ 'HomeAdmin.' + 'addProduct' | translate }}
          </div>
        </div>
      </div>

      <div class="container-dropdow">
        <div class="btn-dropdown" [routerLink]="['/homeAdmin/order']">
          <i class="bi bi-shop"></i>
          <span>{{ 'HomeAdmin.' + 'order' | translate }}</span>
        </div>
      </div>

      <!-- test -->
    </div>

    <div class="col-lg-10 container-right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
