<div class="" style="width: 100%">
  <div class="row">
    <app-alert></app-alert>
    <!-- Modal -->
    <app-confirm-model
      [title]="'Model.removeItem'"
      (onClickFirm)="onDeleteItem()"
    ></app-confirm-model>

    <!-- header -->
    <div class="header">
      <div class="search-container">
        <input
          type="text"
          class="form-control"
          [placeholder]="'Item.' + 'phSearch' | translate"
          aria-label="searchInput"
          aria-describedby="basic-addon1"
          [(ngModel)]="searchInput"
          (ngModelChange)="onChangeSearch($event)"
        />
      </div>
    </div>
    <!--  -->
    <div class="col-lg-2 container-card" *ngFor="let item of items">
      <div class="card mt-2" style="width: 14rem">
        <div
          class="d-flex card-body"
          style="align-items: center; justify-content: center"
        >
          <img
            class="card-img-top img_item_admin"
            src="https://bizweb.dktcdn.net/100/287/440/files/ao-thun-den-streetwear-nen-mua.png?v=1602830750385"
            alt="Card image cap"
          />
        </div>
        <div class="card-body p-3">
          <h6 class="card-title">{{ item.name }}</h6>
          <p class="card-text" style="font-weight: bold">
            {{ item.price | currency : 'VND' }}
          </p>
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="btn btn-outline-secondary mr-2"
              [routerLink]="['/homeAdmin/update/', item.id]"
              routerLinkActive="active"
            >
              {{ 'Item.' + 'btnEdit' | translate }}
              <i class="bi bi-pencil-square"></i
            ></a>
            <a
              class="btn btn-outline-danger"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="onGanId({ id: item.id })"
            >
              {{ 'Item.' + 'btnDelete' | translate }} <i class="bi bi-trash"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
