<div
  class="container w-50 container-update shadow-lg bg-white rounded p-4 mt-3"
>
  <app-confirm-model
    [title]="'cập nhật'"
    (onClickFirm)="onSubmit()"
  ></app-confirm-model>
  <form #form="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">{{
        'updateItem.' + 'id' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="id"
        disabled=" true"
        required
        name="id"
        [(ngModel)]="item.id"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">{{
        'updateItem.' + 'name' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="nameItem"
        required
        name="name"
        [(ngModel)]="item.name"
        placeholder="nhập tên sản phẩm"
        #name="ngModel"
      />
    </div>
    <div [hidden]="name.valid || name.pristine" class="text-danger">
      {{ 'updateItem.' + 'emptyName' | translate }}
    </div>
    <div class="form-group">
      <label for="price">{{ 'updateItem.' + 'price' | translate }}</label>
      <input
        type="number"
        class="form-control"
        id="price"
        required
        step="10000"
        min="1000"
        name="price"
        [(ngModel)]="item.price"
        placeholder="nhập giá"
        #price="ngModel"
      />
    </div>
    <button
      type="submit"
      class="btn btn-outline-danger"
      [disabled]="!form.form.valid"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      {{ 'updateItem.' + 'btn' | translate }}
    </button>
  </form>
</div>
